<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    <!-- favicon -->
    <link href="favicon.png" rel=icon>

    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    
    <!-- font-awesome -->
    <link href="{{ asset('template/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{{ asset('template/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- owl carousal -->
    <link href="{{ asset('template/css/owl.carousel.css') }}" rel="stylesheet">

    <!-- Style CSS -->
    <link href="{{ asset('template/css/style.css') }}" rel="stylesheet">
    
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}<!-- jquery -->
<!-- jquery -->
            <script src="{{ asset('template/js/jquery-2.1.4.min.js') }}"></script>
            <!-- Bootstrap -->
            <script src="{{ asset('template/js/bootstrap.min.js') }}"></script>
            <!--owl carousal-->
            <script src="{{ asset('template/js/owl.carousel.min.js') }}"></script>
            <!--theme script-->
            <script src="{{ asset('template/js/scripts.js') }}"></script>{% endblock %}
    </body>
    
</html>
